@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-brand-header: #7c3aed;
  --color-brand-content: #030712;
  --color-brand-primary: #7c3aed;
  --color-brand-text: #ffffff;
}

body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #030712;
  color: #ffffff;
}
